body {
    width: 100%;
}
nav {
    background-color: #009999;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.manage_icon {
    float: right;
}

.list_item {
    display: inline-block;
    width: 120px;
    height: 120px;
    padding: 20px;
    background-color: #97D0A7;
    border-radius: 10px;
    margin: auto;
    line-height: 120px;
}

.list_item img{
    max-height: 120px;
    vertical-align: bottom;
}

.list_item p {
    text-align: center;
    color: black;
}

.list_item a {
    text-decoration: none;
    height: 100%;
    vertical-align: bottom;
}

.link_item {
    display: block;
}