body {
    width: 100%;
}
nav {
    background-color: #009999;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: inline-block;
}

nav ul li {
    padding-left: 25px;
    padding-top: 40%;
}

.manage_icon {
    float: right;
    padding-right: 25px;
}

.main_container {
    text-align: center;
    }

.main_container ul {
    display: inline-block;
    margin: auto;
    padding: 0;
     For IE, the outcast 
    zoom:1;
    *display: inline;
    }


.list_item {
    display: inline-block;
    width: 120px;
    height: 120px;
    padding: 20px;
    background-color: #97D0A7;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px
    line-height: 120px;
}

.list_item img{
    max-height: 120px;
    vertical-align: bottom;
}

.list_item p {
    text-align: center;
    color: black;
}

.list_item a {
    text-decoration: none;
    height: 100%;
    vertical-align: bottom;
}

.link_item {
    display: inline-block;
}