{% extends 'layout.jinja2' %}
{% block content %}
{% if request.authenticated_userid %}
    <div class="main_container">
    <ul>
        <div class="status_bar">
            <ul>
                <li class="small_list_item">
                    <a href="{{ request.route_url('home') }}"><span>Speaking to: </span>
                    <img src="{{ request.route_url('picture', db_id='add', pic_id=addr_id) }}"></a>
                </li>
            </ul>
        </div>
        <hr>
        {% for category in categories %}
        <li class="list_item">
            <a class="link_item" href="{{ request.route_url('attribute', add_id=addr_id, cat_id=category.id) }}">
                <img src="{{ request.route_url('picture', db_id='cat', pic_id=category.id) }}">
                <p>{{ category.label }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>
{% else %}
  <a href="{{ request.route_url('login')}}">Log In</a>
  <a href="{{ request.route_url('register')}}">Register</a>

  <p>You are not authenticated.</p>
{% endif %}

{% endblock %}