{% extends 'layout.jinja2' %}
{% block content %}
{% if request.authenticated_userid %}
    <ul>
        {% for category in categories %}
        <li>
            <a href="{{ request.route_url('attribute', add_id=addr_id, cat_id=category.id) }}">
                <img src="{{ request.route_url('picture', db_id='cat', pic_id=category.id) }}">
                <p>{{ category.label }}</p>
                <hr>
            </a>
        </li>
        {% endfor %}
    </ul>
{% else %}
  <a href="{{ request.route_url('login')}}">Log In</a>
  <a href="{{ request.route_url('register')}}">Register</a>

  <p>You are not authenticated.</p>
{% endif %}

{% endblock %}