<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PyListener web application"2
    <meta name="author" content="PyListener">
    <link rel="shortcut icon" href="{{request.static_url('pylistener:static/pyramid-16x16.png')}}">

    <title>PyListener</title>

    <link href="{{request.static_url('pylistener:static/reset.css')}}" rel="stylesheet" type="text/css">
    <link href="{{request.static_url('pylistener:static/base.css')}}" rel="stylesheet" type="text/css">
    <link href="{{request.static_url('pylistener:static/layout.css')}}" rel="stylesheet" type="text/css">
    <link href="{{request.static_url('pylistener:static/module.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Ramabhadra" rel="stylesheet">

  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="{{ request.route_url('home') }}"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        </li>
        {% if not request.authenticated_userid %}
        <li><a href="{{ request.route_url('login') }}">Log In</a></li>
        <li><a href="{{ request.route_url('register') }}">Register</a></li>
        {% endif %}
      </ul>
      <!-- Not sure how to pull userid; see also routes.py and module.css -->
      <ul class=manage_icon>
        <li><a href="{{ request.route_url('manage', user_id=request.authenticated_userid) }}"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a></li>
      </ul>
    </nav>
    {% block content %}
    {% endblock content %}

    <script src="https://use.fontawesome.com/927692b4ce.js"></script>
    <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
  </body>
</html>
