{% extends 'layout.jinja2' %}
{% block content %}
<h1>Address Book</h1>
<form class="manage_form" id="address_book" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">

    <label for="img">New Contact</label>
    <input name="contact_img" type="file" required>
    <br />
    <label for="contact_name">Name</label>
    <input id="contact_name" name="contact_name" type="text" required>
    <br />
    <label for="contact_phone">Phone</label>
    <input name="contact_phone" type="text" >
    <br />
    <label for="contact_email">Email</label>
    <input name="contact_email" type="text" >
    <br />
    <input class="manage_button" type="submit" value="Add Contact" name="contact">
</form>
<div class="main_container">
    <ul>
        {% for contact in contacts %}
        <li class="list_item">
            <div class="link_item">
                <img src="{{ request.route_url('picture', db_id='add', pic_id=contact.id) }}">
                <p>{{ contact.name }}</p>
                <a class="del_contact" data-id="{{contact.id}}" href="#">DELETE</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<hr>
<h1>Categories</h1>
<form class="manage_form" id="category" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">

    <label for="cat_img">New Category</label>
    <input name="cat_img" type="file" required>
    <br />
    <label for="cat_label">Name</label>
    <input name="cat_label" type="text" required>
    <br />
    <label for="cat_desc">Description</label>
    <input name="cat_desc" type="text" required>
    <br />

    <input class="manage_button" type="submit" value="Add Category" name="category">
</form>
<hr>
<h1>Attributes</h1>
<form class="manage_form" id="attribute" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">

    <label for="attr_img">New Attribute</label>
    <input name="attr_img" type="file">
    <br />
    <label for="attr_label">Name</label>
    <input  name="attr_label" type="text">
    <select name="attr_cat" required>
        {% for category in categories %}
        <option value="{{category.label}}">{{category.label}}</option>
        {% endfor %}
    </select>
    <br />
    <label for="attr_desc"></label>
    <input name="attr_desc" type="text">
    <br />

    <input class="manage_button" type="submit" value="Add Attribute" name="attribute">
</form>
<br>
<h2>Current Attributes:</h2>
<br>
<div class="main_container">
    <ul>
        {% for attribute in attributes %}
        <li class="list_item">
            <div class="link_item">
                <img src="{{ request.route_url('picture', db_id='att', pic_id=attribute.id) }}">
                <p>{{ attribute.label }}</p>
                <a class="del_att" data-id="{{attribute.id}}" href="#">DELETE</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}