{% extends 'layout.jinja2' %}
{% block content %}
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
      <label for="username">Username: </label>
      <input type="text" name="username" required>
      <label for="password">Password: </label>
      <input type="password" name="password" required>
      <button type="submit">Log In</button>
    </form>
{% endblock content %}