{% extends 'layout.jinja2' %}
{% block body %}
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <label>Email:</label>
    <input type="text" name="email">
    <button type="submit">Register</button>
</form>
{% endblock %}